/* General */

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #eee;
}

.input-container{
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40vh;
}

.custom-label {
    font-size: 20px;
    color: #272727;
}

input {
    background-color: inherit;
    border-style: none;
    border-bottom: 1px solid #111111;
    outline: none;
    margin: 20px !important;
    align-self: center;
    width: 60%;
    height: 50px;
}

input:hover {
    transition: all 0.2s;
    border-bottom: 3px solid #1f1e1e;
}

input::-moz-focus-inner {
    outline: none;
}

label {
    align-self: center;
}
